@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@200&family=Source+Code+Pro&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none; 
}

body {
    font-family: kanit, sans-serif;
    font-weight: 300;
    background-color: #05bcff;
    height: fit-content;
}

/*Add style to Logo and the Navbar */

#logo {
    float: left;
    font-size: 300%;
    margin-left: 25px;
}

#menu {
    font-size: 120%;
    letter-spacing: normal;
    float: right;
}

#menu, #logo {
    line-height: 80px;
    color: #fff;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    display: block;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

/*Adding style to the outer sections for background images and text */

#outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#text {
    color: #ffffff;
    text-align: center;
}

#outer-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-riccardo-185801.jpg);
    background-size: cover;
    background-position: center;
}

#text {
    font-size: 100%;
    font-family: Source Code Pro, sans-serif;
    letter-spacing: 2px;
    width: 300px;
    height: 350px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(251, 132, 85, 0.5);
    top: 50px;
    left: 150px;
    position: absolute;
}

/*Add style to the footer with social media links */

#social-media {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#social-media > li {
    display: inline;
    font-size: 175%;
    padding: 20px;
}

#social-media i {
    color: #fff;
}

/*add style to about page */

#outer-image-about {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-pixabay-37351.jpg);
    background-size: cover;
    background-position: center;
}

#top-center {
    color: #ffffff;
    font-size: 100%;
    font-family: Source Code Pro, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    width: 90%;
    height: 175px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 10px;
    background-color: rgba(251, 132, 85, 0.7);
    top: 30px;
    left: 5%;
    position: absolute;
}

#bottom-center {
    color: #ffffff;
    font-size: 100%;
    font-family: Source Code Pro, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    width: 90%;
    height: 175px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 10px;
    background-color: rgba(251, 132, 85, 0.7);
    bottom: 30px;
    left: 5%;
    position: absolute;
}

/*add style to image gallery */

#images {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    height: 600px;
    width: 100%;
}

#images > img {
    width: 100%;
    height: auto;
}

/*add style to contact me page */

#contact {
    height: 1200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#background-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/pexels-david-gomes-2647471.jpg);
    background-size: cover;
    background-position: center;
}

#form{
    height: 600px;
    width: 70%;
}

label {
    color: #fff;
    padding-top: 10px;
    padding-left: 30px;
    display: inline-block;
}

input[type=text], select, textarea {
    color: #fff;
    width: 30%;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 30px;
    resize: both;
    display: block;
}

input[type=submit] {
    color: #fff;
    padding: 10px 16px;
    margin-left: 30px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    background-color: #05bcff;
    font-size: large;
}

input[type=submit]:hover {
    background-color: #D3D3D3;
}

/*large desktop screens */

@media screen and (min-width:1281px) {

    #logo {
        font-size: 50px;
    }

    #outer {
        width: 100%;
        height: 800px;
    }

    #outer-image {
        width: 100%;
        max-width: none;
        height: 800px;
    }

    #text {
        left: 50px;
    }

    #outer-image-about{
        width: 100%;
        height: 800px;
    }

    #images {
        height: 800px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    #columns {
        flex: 25%;
        max-width: 25%;
        padding: 0;
    }

    #columns img {
        vertical-align: middle;
        width: 100%;
        height: 400px;
    }
}

/*laptop screens */

@media (min-width:1025px) and (max-width:1280px) {

    #logo {
        font-size: 45px;
    }

    #outer {
        width: 100%;
        height: 600px;
    }

    #outer-image {
        width: 100%;
        max-width: none;
        height: 600px;
    }

    #text {
        left: 50px;
    }

    #outer-image-about{
        width: 100%;
        height: 600px;
    }

    #images {
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    #columns {
        flex: 25%;
        max-width: 25%;
        padding: 0;
    }

    #columns img {
        vertical-align: middle;
        width: 100%;
        height: 200px;
    }
}

/*large tablet screens */

@media (min-width:768px) and (max-width:1024px) {

    #logo {
        font-size: 150%;
    }

    #outer {
        width: 100%;
        height: 600px;
    }

    #outer-image {
        width: 100%;
        max-width: none;
        height: 600px;
    }

    #text {
        left: 50px;
    }

    #outer-image-about{
        width: 100%;
        height: 600px;
    }

    #images {
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    #columns {
        flex: 50%;
        max-width: 50%;
        padding: 0;
    }

    #columns img {
        vertical-align: middle;
        width: 100%;
        height: 300px;
    }

    #background-image {
        height: 600px;
    }

    #social-media {
        position: fixed;
        padding-bottom: 5px;
    }
}

/*low res tablet and high res phone screens */

@media (min-width:481px) and (max-width:767px) {
    
    #logo {
        font-size: 40px;
    }

    #outer {
        width: 100%;
        height: 600px;
    }

    #outer-image {
        width: 100%;
        max-width: none;
        height: 600px;
    }
    
    #text {
        left: 40px;
    }

    #outer-image-about{
        height: 800px;
    }

    #top-center #bottom-center {
        font-size: small;
        padding: 0 4px;

    }

    #images {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    #columns {
        flex: 50%;
        max-width: 50%;
        padding: 0;
    }

    #columns img {
        vertical-align: middle;
        width: 100%;
        height: 100px;
    }

    #background-image {
        height: 600px;
    }

    #social-media {
        position: fixed;
    }
}

/*small phone screens*/

@media (min-width:320px) and (max-width:480px) {
    
    #logo {
        font-size: 30px;
    }

    #menu{
        font-size: smaller;
    }

    #outer {
        width: 100%;
        height: 500px;
    }

    #outer-image {
        width: 100%;
        max-width: none;
        height: 500px;
    }
    
    #text {
        font-size: small;
        left: 0;
    }

    #outer-image-about{
        height: 500px;
    }

    #top-center, #bottom-center {
        left: 0;
    }

    #top-center, #bottom-center, h2 p {
        width: 100%;
        font-size: x-small;

    }

    #images {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    #columns {
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }

    #columns img {
        vertical-align: middle;
        width: 100%;
        height: 200px;
    }

    #background-image {
        padding-top: 40px;
        height: 100px;
    }

    #form {
        padding-bottom: 100px;
        height: 400px;
    }

    #social-media {
        position: relative;
        padding-bottom: 5px;
    }

    #contact {
        width: 100%;
        height: 700px;
    }

    input[type=text], select, textarea {
        width: 60%;
    }

    
}