@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Source+Code+Pro&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none; 
}

body {
    font-family: kanit, sans-serif;
    font-weight: 300;
    background-color: #05bcff;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 25px;
}

#menu {
    font-size: 120%;
    letter-spacing: normal;
    float: right;
}

#menu, #logo {
    line-height: 80px;
    color: #fff;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    display: block;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

#outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#text {
    color: #D3D3D3;
    text-align: center;
}

#outer-image {
    height: 800px;
    width: 100%;
    background: url(../images/pexels-riccardo-185801.jpg);
    background-size: cover;
}

#text {
    font-size: 100%;
    font-family: Source Code Pro, sans-serif;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(251, 132, 85, 0.5);
    bottom: 50px;
    left: 150px;
    position: absolute;
}

#social-media {
    text-align: center;
}

#social-media > li {
    display: inline;
    font-size: 175%;
    padding: 20px;
}

#social-media i {
    color: #fff;
}

#outer-image-about {
    height: 800px;
    width: 100%;
    background: url(../images/pexels-pixabay-37351.jpg);
    background-size: cover;
}

#top-left {
    font-size: 100%;
    font-family: Source Code Pro, sans-serif;
    letter-spacing: 2px;
    width: 300px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(251, 132, 85, 0.5);
    top: 50px;
    left: 150px;
    position: absolute;
}

#top-right {
    font-size: 100%;
    font-family: Source Code Pro, sans-serif;
    letter-spacing: 2px;
    width: 300px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(251, 132, 85, 0.5);
    top: 50px;
    right: 150px;
    position: absolute;
}